@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    }
            
body {
    background-color: #222222;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    position: relative;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: "Poppins", serif;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.9); /* White colour with some transparency */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Shadow for readability */
}
.search-box {
    padding: 12px;
    font-size: 1.3em;
    font-family: "Poppins", serif;
    width: 500px;
    border-radius: 15px;
    border: none;
    background-color: rgba(51, 51, 51, 0.7); /* Transparent */
    color: #FFFFFF;
    margin-bottom: 2px;
    backdrop-filter: blur(5px); /* Blur effect */
    transition: box-shadow 0.3s ease;
}
        
.search-box:focus {
    outline: none;
    box-shadow: 0 0 20px #000000d7; /* Box shadow colour on focus*/
}

.search-container {
    display: flex; /* Use the flexbox to align items */
    align-items: center; /* Align vertically to the centre */
}


.engine-icon {
    width: 100%; /* Make the icon fill the container */
    height: auto; /* Mantains the aspect ratio */
}
.engine-options {
    display: none;
    position: absolute;
    right: 0px;
    top: 103%;
    background-color: #33333390;
    border-radius: 10px;
    padding: 3px;
    backdrop-filter: blur(5px); /* Blur effect */
}
.engine-option {
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.settings {
    position: fixed;
    top: 20px;
    right: 20px;
}
.settings input {
    margin: 5px;
    padding: 5px;
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}

.sidebar-toggle {
    position: fixed;
    left: 10px;
    top: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #333333b0;
    border-radius: 30%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: #33333381;
    transition: 0.5s;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 999;
    backdrop-filter: blur(5px);
}

.sidebar.open {
    left: 0;
}

.background-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 60px;
}

.background-option {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.background-option:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

.material-icons {
    color: white;
    font-size: 24px;
}

.engine-icon-container {
    display: inline-flex; /* Use flexbox to center the icon */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    width: 40px; /* The width of the square */
    height: 40px; /* The hight of the square */
    border-radius: 15px; /* Border radius (for rounded corners)*/
    background-color: rgba(51, 51, 51, 0.7); /* Transparent background colours */
    backdrop-filter: blur(2px); /* A blur effect */
    padding: 5px; /* Inner padding */
    cursor: pointer; /* Changes the cursor when hovered */
    margin-left: 7px; /* Left spacing */
}